/*section*/

.product_main_section {
    width: 1700px;
    height: 130px;
    border: 1px solid white;
    margin: 0 auto;
}

.product_logo_div {
    width: 25%;
    height: 100px;
    float: left;
    margin-top: 40px;
    margin-left: 15%;
}

.product_menu_div {
    margin: 60px 0px 0px 600px;
}

.product_menu li {
    display: inline-block;
}

.product_menu li a {
    font-weight: bold;
    font-size: 15pt;
    line-height: 40px;
    text-decoration: none;
    color: rgb(44, 43, 43);
    padding: 10px 25px 10px 25px;
}

.product_menu li:hover>a {
    background-color: rgba(243, 113, 53, 0.904);
}

.product_search {
    border: 1px solid black;
    width: 1700px;
    height: 300px;
    margin: 0 auto;
}

.product_list1 {
    width: 1400px;
    height: auto;
    min-height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}

.product1 {
    float: left;
    width: 20%;
    height: 90%;
    margin-left: 80px;
    margin-right: 20px;
}

.product1 img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.product2 {
    float: left;
    width: 20%;
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.product2 img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.product_detail a {
    text-decoration: none;
}

.make {
    margin-left: 50px;
    line-height: 50%;
    font-size: 80%;
    color: black;
}

.name {
    margin-left: 50px;
    line-height: 50%;
    font-weight: bold;
    color: black;
}

.price {
    margin-left: 50px;
    line-height: 50%;
    color: rgb(109, 136, 253);
}

.star {
    margin-left: 50px;
    line-height: 50%;
    color: rgb(255, 187, 0);
}

.product_page_button {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    padding-top: 30px;
}


/*footer*/

.product_footer_div1 {
    width: 1700px;
    height: 130px;
    margin: 120px auto;
    background-color: rgba(63, 46, 121, 0.83);
}

.product_footer_layer1 {
    float: left;
    width: 200px;
    padding: 20px;
}

.product_footer_layer2 {
    float: left;
    color: black;
    line-height: 130%;
    padding: 20px;
    font-size: 15px;
}

.product_footer_layer3 {
    float: right;
    color: black;
    line-height: 130%;
    padding: 20px;
    padding-right: 50px;
    font-size: 15px;
}

.product_footer_layer4 {
    float: right;
    color: black;
    line-height: 130%;
    padding: 20px;
    padding-right: 100px;
    font-size: 15px;
}

.product_footer_div2 {
    width: 1700px;
    margin: 30px auto;
    margin-top: -110px;
}

.product_footer_layer5 {
    padding-left: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}